.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #f0f0f0; /* added a light gray background */
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}


.column {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* added a subtle box shadow */
}

.column h2 {
  margin-top: 0;
  font-weight: bold; /* made the column title bold */
}

.column h2 .heading {
  color: lightcoral;
}

.column h2 .count {
  color: darkgray;
  margin-left: 10px;
}


.list-parent {
  padding: 0;
}

.item {
  list-style-type: none;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-block: 5px;
  cursor: move; /* a/* added a move cursor to indicate draggability */
}

.item:last-child {
  border-bottom: none;
}

.new-item-input-form {
  margin-top: 5rem;
}

.new-item-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box; /* added box-sizing to prevent overflow */
}

.add-item-btn:hover {
  background-color: #3e8e41;
}


.add-column-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s; /* added a transition for the button hover effect */
  position: absolute;
  right: 20px;
}

.add-column-btn:hover {
  background-color: #3e8e41;
}

/* added animation for dragging and dropping */
.dragging {
  opacity: 0.3;
  transform: scale(0);
  transition: transform 0.2s, opacity 0.2s;
}

.dropping {
  transform: scale(1.1);
  transition: transform 0.2s;
}